<template>
    <div class="container">
        <nav class="nav justify-content-between">
            <a v-on:click="back"
                   v-bind:disabled="saving"
                   ref="buttonBack"
                   type="button"
                   class="btn btn-outline-light">
                <i class="fas fa-arrow-left text-secondary"></i>
            </a>
        </nav>
        <h3 class="text-center col"><translate>Create shipment</translate></h3>
        <div class="input-group">
            <div class="form-group col-md-4">
                <span class="form-control-static font-weight-bold">
                    <translate>Date:</translate>
                    <input id="date" type="date" class="form-control"
                    v-model="date">
                </span>
            </div>
        </div>

        <div class="input-group">
            <div class="form-group col-md-4">
                <span class="form-control-static">
                    <label for="supplier" class="font-weight-bold">
                        <translate>Company:</translate>
                    </label>
                    <div class="input-group mb-3" v-if="!supplier">
                        <input type="text" class="form-control" v-model="search_supplier"
                            v-bind:placeholder="placeholder_supplier"/>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group mb-3" v-if="supplier">
                        <input id="supplier" type="text" class="form-control" readonly
                            v-model="supplier_name">
                        <div class="input-group-append">
                            <button type="button" @click="clear_supplier()"
                                class="btn btn-sm btn-outline-dark">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="list-group">
                    <div v-for="supplier in suppliers" class="list-group-item"
                            @click="setSupplier(supplier.id, supplier.name)">
                        <p class="list-group-item-heading">
                            {{ supplier.name }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group">
            <div class="form-group col-md-4">
                <span class="form-control-static">
                    <translate>Order number/CMR:</translate>
                    <input id="external_picking" type="text" class="form-control"
                    v-model="external_picking">
                </span>
            </div>
        </div>

        <div class="input-group">
            <div class="form-group col-md-4">
                <span class="form-control-static">
                    <translate>License Plate:</translate>
                    <input id="carrier_driver" type="text" class="form-control"
                    v-model="carrier_driver">
                </span>
                <button v-on:click="create"
                   v-bind:disabled="!supplier || saving"
                   ref="buttonCreate"
                   type="button"
                   class="btn btn-primary mt-3 mb-3 col">
                   <translate>Continue</translate>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
var Vue = require('vue');
var utils = require('./utils.js');

module.exports = {
    data: function() {
        return {
            placeholder_supplier: this.$gettext("Search company"),
            suppliers: [],
            search_supplier: '',
            supplier: 0,
            supplier_name: '',
            date: null ,
            external_picking: '',
            carrier_driver: '',
            saving: false
        };
    },
    watch: {
        search_supplier() {
            if (!this.search_supplier) {
                this.suppliers = [];
                return
            }
            var vm = this;
            this.$http.get('flask_shipment_in_app/parties', {
                params: {query: this.search_supplier},
            }).then(function(request) {
                request.json().then(function(results){
                    if (!vm.supplier) {
                        vm.suppliers = results;
                    } else {
                        vm.suppliers = [];
                    }
                });
            });
        },
    },
    methods: {
        back() {
            this.$router.go(-1);
        },
        setSupplier(id, name) {
            this.supplier = id;
            this.supplier_name = name;
            this.search_supplier = '';
            this.suppliers = []
        },
        clear_supplier() {
            this.supplier = 0;
            this.supplier_name = '';
        },
        create: function() {
            var url = 'flask_shipment_in_app/shipment/create';
            if (this.saving) {
                return;
            }
            this.saving = true;
            var data = {
                supplier: this.supplier,
                effective_date: this.date,
                external_picking: this.external_picking,
                carrier_driver: this.carrier_driver,
            };
            var vm = this;
            this.$http.post(url, data).then(function(response) {
                this.saving = false;
                response.json().then(function(shipment) {
                    vm.$router.push({
                        path: '/shipment/' + shipment.id,
                    });
                });
            }, function(response) {
                this.saving = false;
                utils.error(response);
            });
        }
    },
    created() {
        var url = 'flask_shipment_in_app/shipment/defaults';
        var vm = this;
        this.$http.get(url).then(function(request) {
            request.json().then(function(result){
                if (result.supplier) {
                    vm.supplier = result.supplier
                    vm.supplier_name = result['supplier.rec_name']
                }
                if (result.effective_date) {
                    var date = new Date(
                        result.effective_date.year,
                        result.effective_date.month - 1,
                        result.effective_date.day + 1);
                    vm.date = date.toISOString().substr(0, 10)
                }
            });
        }, function(response) {
            utils.error(response);
        });
    },
};
</script>
