<template>
    <div class="container">
        <nav class="nav justify-content-between">
            <a v-on:click="settings"
                   ref="buttonToggleAssign"
                   type="button"
                   class="btn btn-outline-light">
                <i class="fas fa-cog text-secondary"></i>
            </a>
            <a v-on:click="create"
                   v-bind:disabled="saving"
                   ref="buttonToggleAssign"
                   type="button"
                   class="btn btn-outline-light">
                <i class="fas fa-plus text-secondary"></i>
            </a>
        </nav>
        <h3 class="text-center col"><translate>Supplier shipments</translate></h3>
        <div class="col-md-4 col-md-offset-4 mb-3">
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 mx-auto">
                <div class="form-check mb-1">
                    <input type="checkbox" class="form-check-input" v-model="done" @change="done_change">
                    <label class="form-check-label"><translate>Show done</translate></label>
                </div>
                <div class="list-group">
                    <div v-for="shipment in shipments"
                        class="list-group-item"
                        @click="select(shipment.id)">
                        <h4 class="list-group-item-heading">
                            {{ shipment.number }}
                            <button type="button"
                                    @click="remove(shipment.id)"
                                    class="btn btn-sm btn-danger float-right">
                                <i class="fas fa-trash"></i>
                             </button>
                        </h4>
                        <p>{{ shipment.effective_date }}<br/>
                        {{ shipment.supplier }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4 mt-3">
        </div>
    </div>
</template>

<script>
var storage = require('./storage.js');
var utils = require('./utils.js');

module.exports = {
    data: function() {
        return {
            shipments: [],
            removing: false,
            employee: storage.employee,
            done: false
        };
    },
    methods: {
        create: function() {
            this.$router.push({
                name: 'create',
            });
        },
        _search: function() {
            var url = 'flask_shipment_in_app/shipments',
                data = {
                    'query': {
                        'limit': 20,
                        'done': this.done
                    }
                };
            return this.$http.get(url, {params: data});
        },
        search: utils.debounce(function() {
            this._search().then(function(response) {
                var vm = this;
                response.json().then(function(shipments) {
                    shipments = shipments.sort(function(s1, s2){
                        return s1.effective_date < s2.effective_date
                    })
                    vm.shipments = shipments;
                });
            });
        }, 250),
        select: function(shipment_id) {
            if (this.removing) {
                return
            }
            this.$router.push({
                path: '/shipment/' + shipment_id,
            });
        },
        settings: function() {
            this.$router.push({
                name: 'settings',
            });
        },
        remove: function(id) {
            this.removing = true
            var url = 'flask_shipment_in_app/shipment/' + id + '/delete';
            var vm = this;
            this.$http.post(url).then(function(request) {
                request.json().then(function(result){
                    vm.search();
                });
            }, function(response) {
                utils.error(response);
            });
        },
        done_change: function(e){
            this.search();
        }
    },
    created: function() {
        this.search();
    },
};
</script>

<style scoped>
a.list-group-item:focus {
    color: #fff;
    background-color: #337ab7;
}
</style>
