<template>
    <div class="container">
        <h2>Validación clave</h2>
        <translate tag="p">To finish authentication process you should open the user preferences of your user in Tryton and validate the application key that starts with:</translate>
        <pre>{{ key_small }}</pre>
        <router-link to="/"
             class="btn btn-lg btn-primary btn-block">
            <translate>OK</translate></router-link>
    </div>
</template>

<script>
var storage = require('./storage.js');

module.exports = {
    data: function() {
        return {
            key: storage.settings.key};
    },
    computed: {
        key_small: function() {
            return this.key.slice(0, 8) + '...';
        }
    }
};
</script>
