<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>
var Vue = require('vue');
var VueRouter = require('vue-router');

var Home = require('./Home.vue');
var CreateShipment = require('./CreateShipment.vue');
var Shipment = require('./Shipment.vue');
var Settings = require('./Settings.vue');
var Key = require('./Key.vue');

function is_configured() {
    var settings = JSON.parse(localStorage.getItem('flask_shipment_in_app_settings') || '{}');
    return Boolean(settings.key);
}

require('./http.js')();

var routes = [
{ path: '/',
    name: 'home',
    component: Home,
    beforeEnter: function(to, from, next) {
        if (!is_configured()) {
            next('/settings');
            return;
        }
        next();
    }
},
{ path: '/create', name:'create', component: CreateShipment },
{ path: '/shipment/:id', name:'shipment', component: Shipment },
{ path: '/settings', name:'settings', component: Settings },
{ path: '/key', name:'key', component: Key },
];

var router = new VueRouter({
    routes: routes
});

module.exports = Vue.extend({
    router: router
});
</script>
